:root {
    /* FONT */
    --font-dm-sans: "DM Sans", sans-serif;

    /* COLORS */
    --bg-icon:#131313;
    --bg-arrow-color: rgba(0,0,07);
    --bg-1: #121212;
    --text-font-1: #b3b3b3;
    --text-font-2: #fff;
    
}